.wrap { width:700px; margin:0 auto; }
.left_col { float:left; width:40%; }
.center_col { display: inline-block; width:40%; }
.right_col { float:right; width:15%; }

.wordlink { text-decoration: underline; cursor: pointer; cursor: hand; }
.history { text-decoration: underline; cursor: pointer; cursor: hand; }
